/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  top: 0;
  left: 0;
  right: 0;
  padding: 0px;
  box-sizing: border-box;
  max-width: 210rem;

}
body{
    background-color: #F5F5F5;
}
.header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: #3400FF; 
        z-index: 10;   
}
nav{
    margin: 10px 50px;
    float: right;
}
.nav-item{
    margin-right: 30px;
    font-size: 20px;
    font-weight: 100;
    color: white;
    align-items: center;
    
}
.nav-item-active{
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    color: #3400FF;
    margin-right: 20px;
    align-items: center;
}
.logo{
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 100px;
}
.header-text{
    margin-left: 75px;
}
.header-text img{
    margin-bottom: 30px;
}
.header-text h2{
    color: white;
    font-weight: 900;
    margin-bottom: 30px;
}
.header-text p{
    color: white;
}
.header-image{
    float: right;
    margin-top: -180px;
}
.companies{
    margin: 0px 100px;
    margin-top: 570px;
}
.company-items{
    margin-left: 50px;
    text-decoration: none;
    color: #000;
    font-weight: 900;
    font-size: 20px;
}
.api{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}
.cards{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 20px;
    
    
}
.cards img{
    margin-bottom: 20px;
}
.cards h3{
    margin-bottom: 20px;
}
.card-active{
    border: #000 ;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 20px #c2bdbd;

    
    
}
.blog-heading{
    margin: 50px 150px
}
.blog-cards{
    margin: 50px 150px;
    justify-content: space-between;
    
    
}
.blog-cards div{
    display: flex;   
}
.blog-card{
    justify-content: space-between;
    background-color: white;
    box-shadow: 5px 5px 20px #c2bdbd;
    border-radius: 15px;
    border-top-left-radius: 50px;
    
}
.blog-cards .blog-author b{
    margin-left: 50px;
    width: 200px;
    margin-top: 30px;
    font-weight: 100;
}
.blog-bottom img{
    width: 50px;
    height: 50px;
    margin-left: -70px;
    margin-top: 20px;
    margin-right: 150px;

}
.blog-cards{
    display: flex;
    justify-content: space-between;
}
.blog-content {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    width: 300px;
}
.blog-content h3{
    margin-bottom: 30px;
}
.blog-content h6{
    margin-bottom: 30px;
}
.blog-content small{
    line-height: 30px;
    margin-bottom: 50px;
}
.blog-image{
    margin-right: 30px;
}

.faq-section{
    margin: 20px 10px;
    background-color: #E9EDFF;
    padding: 50px;
    
}
.faq-content h2{
    font-size: 40px;
}
.faq-content h4{
    margin: 20px 0px;
}
.faq-image{
   float: right;
   display: flex;
   margin-top: -332px;
   height: 380px;
   margin-right: 300px;
}
.faq-content button{
    width: 200px;
    height: 35px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #3400FF;
    border: none;
    border-radius: 5px;
}
.download-section{
    margin: 100px 150px;
    margin-right: 300px;
    display: flex;
    justify-content: space-between;
}
.download-content {
    font-size: 30px;
}
.download-content span{
    font-size: 40px;
}
.download-email input{
    border: #000 solid 2px;
    width: 450px;
    height: 40px;
    border-radius: 20px;
    margin-right: 30px;
    height: 50px;
    text-align: left;
    padding-left: 150px;
    background-color: #E9EDFF;
}
.download-email button{
    margin-left: -215px;
    width: 180px;
    height: 45px;
    border-radius: 20px;
    color: white;
    background-color: #3400FF;
    border: none;
    border: #000 solid 2px;
}
.footer-section{
    background-color: #3400FF;
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
.footer-left ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: -90px;
    margin-top: 20px;
}
.footer-left li{
    padding-left: 40px;
    color: white;
    font-weight: 700;
}
.footer-right ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: -20px;
    margin-top: 20px;
}
.footer-right li{
    color: white;
    font-weight: 700;
}
.footer-logos{
    padding-left: 10px;
    margin-right: 50px;
}
.icon-right{
    display: flex;
    width: 280px;
   
}
.logos-list{
    width: 280px;

}
.footer-logos{
    margin-left: 10px;
}

@media(max-width: 1000px){

     *{
        max-width: 550px;
        overflow-x: hidden;
     }
    
     nav{
        margin: 10px 0px;
        float: left;
        margin-left: 50px;
    }
    .nav-item{
        margin-right: 20px;
        font-size: 15px;
        font-weight: 100;
        color: white;
        align-items: center;
        
    }
    .nav-item-active{
        background-color: white;
        border-radius: 5px;
        color: #3400FF;
        margin-right: 5px;
        align-items: center;
        font-size:10px;
        margin-top: -15px !important;
    }
    .logo{
      display: none;
    }

    .header{
        display: block;
        text-align: center;
        height: 600px;
    }

    .header-text{
        margin-top: 100px;
        margin-left: -20px;
    }

    .header-image{
        margin-top: 50px;
        margin-right: 33px;
        width: 300px;
    }
    .companies{
        margin: 0px 0px !important;
        margin-top: 620px !important;
        margin-left: 10px !important;
    }
    .company-items{
        margin-left: 10px;
        text-decoration: none;
        color: #000;
        font-weight: 900;
        font-size: 20px;
    }





    .api{
        margin-top: 100px;
        text-align: center;

    }
    .cards{
        display: block;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px !important;
        
        
    }
    .card{
        margin-bottom: 30px;
        border: #000 2px solid;
        padding: 15px;
        border-radius: 10px;
    }
    .cards img{
        margin-bottom: 20px;
    }
    .cards h3{
        margin-bottom: 20px;
    }
    .card-active{
        border: #000 ;
        padding: 20px;
        width: 250px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 5px 5px 20px #c2bdbd;
        margin-bottom: 20px;
        
        
    }

    .blog-heading{
        display: block;
        text-align: center;
        margin: 50px 0px !important;
    }

    .blog-cards{
        display: block;
        width: 400px;
        text-align: center;
        margin: 20px 0px !important;
        margin-left: 70px !important;
    }
    .blog-cards div{
        display: block;
        margin-bottom: 50px;
    }

    .blog-card{
        justify-content: space-between;
        background-color: white;
        box-shadow: 5px 5px 20px #c2bdbd;
        border-radius: 15px;
        border-top-left-radius: 65px;
        width: 400px;
        
    }

    .blog-author b{
        width: 100px;
        margin-top: -80px !important;
        font-weight: 100;
        margin-left: 10px !important;
    }
   .blog-bottom{
    width: 300px;
    margin-left: 170px;
    margin-right: 0px;
    margin-top: 0px;
   }
 
 
    .blog-content {
        margin-top: 10px;
        width: 300px;
        text-align: center !important;
        margin-left: 65px;
        margin-top: -50px;
    }
    .blog-content h3{
        margin-bottom: 30px;
        margin-top: -20px;
    }
    .blog-content h6{
        margin-bottom: 30px;
        margin-top: -50px !important;
    }
    .blog-content small{
        line-height: 10px;
        margin-bottom: 0px;
        margin-top: -50px;
    }
    .blog-image img{
        width: 400px;
        padding: 0px;
        margin: 0px 0px !important;
        height: 250px;
    }
    .faq-section{
        display: block;
    }
    .faq-image{
        margin: 0px 0px !important;
        width: 470px;
        margin-top: 20px !important;
    }
    .download-section{
        display: block;
        width: 500px;
        margin-left: 40px;
    }

    .footer-section{
        display: block;
        margin: 0px 0px;
        padding: 10px 10px;
    }


.footer-left ul{
    display: flex;
    list-style: none;
    margin-left: -10px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.footer-left li{
    padding-left: 5px !important;
    color: white;
    font-weight: 700;
    font-size: 10px;
}
.footer-right ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 120px !important;
    margin-top: 20px;
}
.footer-right li{
    color: white;
    font-weight: 700;
}
.footer-logos{
    padding-left: 10px;
    margin-right: 50px;
}
.icon-right{
    display: flex;
    width: 280px;
    margin-left: 150px;
   
}
.footer-logo{
    width: 80px;
}
.logos-list{
    width: 280px;

}
.footer-logos{
    margin-left: 10px;
}


}



















@media(max-width: 700px){

    *{
       max-width: 350px;
       overflow-x: hidden !important;
    }
   
    nav{
       margin: 10px 0px;
       float: left;
       margin-left: 0px;
   }
   .nav-item{
    width: 300px;
    flex-wrap: wrap;
       margin-right: 5px;
       font-size: 10px;
       font-weight: 100;
       color: white;
       align-items: center;
       
   }
   .nav-item-active{
       background-color: white;
       border-radius: 5px;
       color: #3400FF;
       margin-right: 5px;
       align-items: center;
       font-size:10px;
       margin-top: -15px !important;
   }
   .logo{
     display: none;
   }

   .header{
       display: block;
       text-align: center;
       height: 600px;
   }

   .header-text{
    width: 340px;
       margin-top: 100px;
       margin-left: 10px;
   }

   .header-image{
       margin-top: 50px;
       margin-right: 33px;
       width: 300px;
   }
   .companies{
       margin: 0px 0px !important;
       margin-top: 620px !important;
       margin-left: 10px !important;
   }
   .company-items{
       margin-left: 10px;
       text-decoration: none;
       color: #000;
       font-weight: 900;
       font-size: 20px;
   }





   .api{
    width: 300px;
       margin-top: 100px;
       text-align: center;
       margin-left: 30px;

   }
   .cards{
       display: block;
       justify-content: center;
       margin-top: 20px;
       margin-bottom: 20px !important;
       
       
   }
   .card{
       margin-bottom: 30px;
       border: #000 2px solid;
       padding: 15px;
       border-radius: 10px;
   }
   .cards img{
       margin-bottom: 20px;
   }
   .cards h3{
       margin-bottom: 20px;
   }
   .card-active{
       border: #000 ;
       padding: 20px;
       width: 250px;
       border-radius: 10px;
       background-color: white;
       box-shadow: 5px 5px 20px #c2bdbd;
       margin-bottom: 20px;
       margin-left: 20px;
       
       
   }

   .blog-heading{
       display: block;
       text-align: center;
       margin: 50px 0px !important;
   }

   .blog-cards{
       display: block;
       width: 300px;
       text-align: center;
       margin: 20px 0px !important;
       margin-left: 30px !important;
   }
   .blog-cards div{
       display: block;
       margin-bottom: 50px;
   }

   .blog-card{
       justify-content: space-between;
       background-color: white;
       box-shadow: 5px 5px 20px #c2bdbd;
       border-radius: 15px;
       border-top-left-radius: 65px;
       width: 400px;
       
   }

   .blog-author b{
       width: 100px;
       margin-top: -80px !important;
       font-weight: 100;
       margin-left: -50px !important;
   }
  .blog-bottom{
   width: 300px;
   margin-left: 100px;
   margin-right: 0px;
   margin-top: 0px;
  }


   .blog-content {
       margin-top: 10px;
       width: 300px;
       text-align: center !important;
       margin-left: -10px;
       margin-top: -50px;
   }
   .blog-content h3{
       margin-bottom: 30px;
       margin-top: -20px;
   }
   .blog-content h6{
       margin-bottom: 30px;
       margin-top: -50px !important;
   }
   .blog-content small{
       line-height: 10px;
       margin-bottom: 0px;
       margin-top: -50px;
   }
   .blog-image img{
       width: 400px;
       padding: 0px;
       margin: 0px 0px !important;
       height: 250px;
   }

 


   .faq-section{
       display: block;
   }
   .faq-image{
       margin: 0px 0px !important;
       width: 470px;
       margin-top: 20px !important;
   }
   .download-section{
       display: block;
       width: 500px;
       margin-left: 40px;
   }

   .footer-section{
       display: block;
       margin: 0px 0px;
       padding: 10px 10px;
   }


.footer-left ul{
   display: flex;
   list-style: none;
   margin-left: -10px;
   margin-top: 0px;
   margin-bottom: 10px;
}
.footer-left li{
   padding-left: 5px !important;
   color: white;
   font-weight: 700;
   font-size: 10px;
}
.footer-right ul{
   display: flex;
   list-style: none;
   justify-content: space-between;
   margin-left: 0px !important;
   margin-top: 20px;
}
.footer-right li{
   color: white;
   font-weight: 700;
}
.footer-logos{
   padding-left: 10px;
   margin-right: 50px;
}
.icon-right{
   display: flex;
   width: 280px;
   margin-left: 25px;
  
}
.footer-logo{
   width: 80px;
   margin-left: 20px;
}
.logos-list{
   width: 280px;

}
.footer-logos{
   margin-left: 10px;
}


}